:root{
  --obsidian_purple:#410445;
  --dark_purple:#A5158C;
  --light_purple:#FF2DF1;
  --light_yellow:#F6DC43;
}
body{
  background-color: var(--light_purple);
  color: white;

  display: flex;
  flex-direction:column;
  align-items: center;

  margin: 0px;
  height: 100vh;
}

.title_container{
  background-color: var(--dark_purple);

  flex: 1;
  width: 100%;

  text-align: center;
  border-bottom: 2px solid white;
}

.game_container{
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.side_title{
  text-align: center;
}

.player_side_container{
  width: 50%;
  height: 100%;
  background-color: var(--light_purple);

  display: flex;
  flex: 1 1 1;
  flex-direction: column;
}

.player_options{
  display: flex;
  justify-content: space-evenly;

  list-style-type: none;
  padding: 0;
  
}

li > img{
  border: 1px solid white;
  border-radius: 4px;
  width: 150px;
  text-align: center;
}
li{
  text-decoration: none;
  flex: 0 1 auto;
  display: flex;
  
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.computer_side_container{
  width: 50%;
  height: 100%;
  background-color: var(--dark_purple);

  display: flex;
  flex: 1 1 1;
  flex-direction: column;
  align-items: center;
}


li > img:hover{
  box-shadow: 0 0 2px 1px black;
}

.footer{
  background-color: var(--light_yellow);
  text-align: center;
  width: 100%;
  
  padding: 5px 0px;
  flex: 1 1 1;
}

